@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
#testimonials {
  list-style: none;
  margin: 0;
  padding: 0;
}
#testimonials li {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  float: left;
  background-color: #fff;
}
#testimonials li .insides {
  clear: both;
}
#testimonials li .insides .testimonial {
  position: relative;
  padding: 10px 15px 10px;
}
#testimonials li .insides .testimonial .name {
  display: block;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #e74c3c;
}
#testimonials li .insides .testimonial .text {
  display: block;
  color: #777;
  line-height: 20px;
  font-size: 13px;
  font-weight: 500;
  font-family: "Open Sans";
}
#testimonials li .insides .photo {
  float: left;
  margin: 8px 10px;
}
#testimonials li .insides .photo img {
  max-width: 100px;
  border-radius: 100%;
  border: 2px solid transparent;
  transition: border-color .3s ease;
}
@media only screen and (min-width: 700px) {
  #testimonials li {
    background-color: transparent;
    width: 50%;
    float: left;
    margin-bottom: 5px;
  }
  #testimonials li:hover .photo img {
    border-color: #e74c3c;
  }
  #testimonials li:nth-child(even) .insides {
    border-radius: 0 100px 100px 0;
    margin-right: 0;
    margin-left: 5px;
  }
  #testimonials li:nth-child(even) .photo {
    float: right;
  }
  #testimonials li:nth-child(even) .testimonial {
    text-align: right;
  }
  #testimonials li .insides {
    height: 120px;
    margin-right: 5px;
    background-color: #fff;
    border-radius: 100px 0 0 100px;
  }
  #testimonials li .photo {
    float: left;
    margin: 8px 10px;
  }
  #testimonials li .photo img {
    max-width: 100px;
    border-radius: 100%;
    border: 2px solid transparent;
    transition: border-color .3s ease;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  max-width: 800px;
  margin: 10% auto 0;
  background-color: #333;
}
